.people-list {
    display: flex;
    @include media('<=md') {
        flex-direction: column;
    }
    &__item {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        padding: 0 12px;
        box-sizing: border-box;
        @include media('<=md') {
            flex: 0 0 100%;
            max-width: 100%;  
            margin-top: 12px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    &__cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 512px;
        padding-top: 77px;
        padding-bottom: 20px;
        border: 1px solid #d2d3e0;
        box-sizing: border-box;
        @include media('<1025px') {
            padding-top: 35px;
            padding-bottom: 23px;
            height: 312px;
        }
        @include media('<=md') {
           padding-top: 28px;
           padding-bottom: 18px;     
        }   
    }
    &__txt {
        margin-top: auto;
        margin-bottom: 34px;
        @include media('<=md') {
            margin-bottom: 0;       
        }
    }
    &__title {
        font-size: 32px;
        font-weight: 900;
        line-height: 34px;
        color: #5d50ec;
        text-transform: uppercase;
        @include media('<1025px') {
            font-size: 20px;
            line-height: 25px; 
        }
    }
    &__desc {
        font-family: 'NotoSans';
        font-size: 20px;
        margin-top: 6px;
        line-height: 28px;
        letter-spacing: -0.025em;
        color: #111;
        font-weight: 500;
        @include media('<1025px') {
            font-size: 13px;
            line-height: 18px; 
        }
    }
    &__img {
        @include media('<1025px') {
            width: 188px;       
        }
        &.people-list__img--fun {
            margin-top: 17px;
        }
        &.people-list__img--value {
            margin-top: 20px;
        }
    }
}